.filmsDetail{
    margin-top: 4rem;
    color: black;
    position: relative;
    overflow: hidden;
    height: calc(100vh - 4rem);
}

.filmsDetail-img{
    width: 100%;
}

.filmsDetail-btn + .filmsDetail-btn{
    background-color: var(--darkred);
    color: var(--yellow);
    margin-left: 1rem ;
}

.filmsDetail-btn{
    padding: 10px 15px;
    font-size: 1rem;
    color: var(--darkred);
}


.filmsDetail-blackGradient{
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(29,33,36);
    background: linear-gradient(90deg, rgba(29, 33, 36, 0.84) 35%, rgba(130,133,140,0) 100%);
    width: 100%;
    height: calc( 100vh - 4rem);
}

.filmsDetail-description{
    position: absolute;
    top: 35%;
    left: 5rem;
    max-width: 50%;

    color: var(--white)
}

.filmsDetail-title{
    font-size: 3rem;
    margin-bottom: 1rem;
}