.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--darkred);

    width: 100%;
    min-height: 4rem;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    z-index: 999;

    transition: all 0.5s;
}

.header--logo{
    width: fit-content;
}

.header--links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3rem;
}

.header--links a{
    color: var(--white);
    text-decoration: none;
    font-weight: normal;
}

.header--links a:hover{
    color: var(--yellow);
}

.header--links a + a{
    margin-left: 2rem;
}